@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: start;
}

#root {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    flex-grow: 1;
}